@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";
@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 52px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

.nav-link {
  position: relative; /* Cần để pseudo-element ::before hoạt động */
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Border sẽ bắt đầu từ 0 */
  height: 1.5px; /* Độ dày của border */
  background-color: #111827; /* Màu sắc của border */
  transition: width 0.3s ease-in-out; /* Hiệu ứng chuyển động */
}

.nav-link:hover::before {
  width: 100%; /* Khi hover, border mở rộng đầy đủ */
}
.swiper-button-prev {
  position: absolute !important;
  left: 0 !important;
  top: 50% !important;
}
.swiper-button-next {
  position: absolute !important;
  right: 0 !important;
  top: 50% !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: #111827 !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
}

@keyframes fall {
  0% {
    transform: translate(-50%, -100%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 10px);
    opacity: 0;
  }
}

.animate-fall {
  animation: fall 0.5s ease-in-out forwards;
}
